.container {
  background-image: url('/fondo.jpg'); /* Replace with your generic image */
  background-size: cover;
  background-position: center;
}

.form-container {
    background-color: rgba(41, 40, 40, 0.942);
}

.glow-effect {
  box-shadow: 0 0 10px 3px rgba(0, 255, 0, 0.7);
}

.text-glow-effect {
  text-shadow: 0 0 8px rgba(0, 255, 0, 0.9);
}